{
  "globals": {},
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "templateStrings": true
    }
  },
  "rules": {
    "indent": [
      2,
      4,
      {"SwitchCase": 1}
    ],
    "quotes": [
      1,
      "single"
    ],
    "linebreak-style": [
      0,
      "windows"
    ],
    "semi": [
      2,
      "always"
    ],
    "no-console": 0,
    "no-unused-vars": ["warn", { "vars": "all", "args": "after-used" }]
  },
  "env": {
    "node": true,
    "browser": false,
    "es6": true,
    "jest": true
  },
  "extends": "eslint:recommended"
}